html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  position: absolute;
  width: 50em;
  display: block;
   height: 500px;

}


.banner {
  position: relative;

}

body {
  overflow: hidden;
  margin: 0;
  align-items: center;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
}

p {
  font-size: 2rem;
  display: inline-block;
}
