html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  position: absolute;
}


.banner {
  position: relative;

}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}
